@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body,
html {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom, #010101, #1b0f04);
    min-height: 100vh;
    color: white;
}
